@import 'variables';
@import 'sidebar';
@import 'articles';

body {
    font-family: 'Roboto';
    background-color: $color-background;
}

a, a:visited, a:hover {
    text-decoration: none;
}

h1, h2, h3 {
    margin: 12px 0;
    padding: 0;
}

h1 {
    font-size: $size-h1;
    font-weight: 900;
}

h2 {
    font-size: $size-h2;
    font-weight: 500;
}

h3 {
    font-size: $size-h3;
    font-weight: 500;
    text-align:center;
}

.circle {
    border-radius: 50%;
}

.inner-container {
    max-width:1200px;
    padding:0;
    overflow: hidden;
    margin:24px auto;
}

.main-container {
    border:solid 1px #EFEFEF;
    background-color: $color-contact;
    overflow:hidden;
    min-width: 340px;
}

@media screen and (max-width: $mobile-threshold){
  .main-container {
    margin: 0;
  }
}

.footer {
    color: #545E6C;
    font-size: 0.9em;

    .disclaimer {
      margin-left: 24px;
    }
}
