<div class="profile">
  <div class="avatar">
    <img class="circle fit-to-container" src="assets/images/profile.jpg" />
  </div>
  <div class="name">Steve Nield</div>
  <h2>{{ site.personal-description }}</h2>
  <h3>{{ site.status }}</h3>
</div>
<div class="contact-info">
  <div class="logo">
    <img class="fit-to-container" src="assets/images/logo.png" />
  </div>
  <div class="contact-points">
    <a href="mailto:steve@wintersoftworks.co.uk" title="email: steve@wintersoftworks.co.uk"><span class="fa fa-envelope-o"></span></a>
    <a href="https://github.com/stevenield" title="github: https://github.com/stevenield"><span class="fa fa-github"></span></a>
    <a href="https://uk.linkedin.com/in/steve-nield-20479914" title="linkedin: https://uk.linkedin.com/in/steve-nield-20479914"><span class="fa fa-linkedin-square"></span></a>
    <a href="https://twitter.com/wintersoftworks" title="twitter: https://twitter.com/wintersoftworks"><span class="fa fa-twitter-square"></span></a>
  </div>
</div>
