.main-container {
  max-width:1200px;
  margin: 24px auto;
  overflow: hidden;
  position: relative;
  background-color: $color-background-contact;

  .right-container-fixed {
    width: 25%;
    float: right;
    overflow: hidden;
  }

  .flex-container-with-fixed-right-column {
    margin-right: 25%;
  }

  .page-content > div {
    padding: 24px;
    background: #FFF;
  }
}

@media screen and (max-width: $mobile-threshold){
  .main-container {
    margin: 0;
    padding: 0;
  }
  .right-container-fixed {
    width: 100%!important;
    float: none!important;
  }
  .flex-container-with-fixed-right-column {
    margin-right: 0!important;
  }
}
