.post-list {

  .post-list-item {
    overflow:hidden;

    .title {
      color: $color-blue;
      font-size: $size-panel-title;
      font-weight: 600;

      span {
        margin-right: 12px;
      }
    }

    .date {
        font-size: $size-h3;
        color: $color-light-grey;
    }

    .tags {
        font-size: $size-h3;
        float:left;
        color: $color-blue;
    }

    .read-more {
        font-size: $size-h3;
        float:right;
    }
  }
}
