.sidebar {
    position: relative;
    padding-left: 0;
    color: #FFF;
    float: right;
    overflow: hidden;

    img.fit-to-container {
        width:100%;
    }
}

.profile {
    background-color: $color-background-profile;
    position:relative;
    padding:24px;
    text-align:center;

    .avatar {
        width: 140px;
        margin: 0 auto;
    }

    .name {
      margin-top:12px;
      font-size: $size-h1;
      font-weight: 900;
    }
}

.contact-info {
    padding: 24px;
    position:relative;

    @media screen and (max-width: $mobile-threshold){
      .logo {
        display:none;
      }
    }

    div {
        margin-bottom:12px;
    }

    .contact-points {
        overflow:hidden;
        margin: 0 auto;

        a,
        a:visited,
        a:hover {
            color: #FFF;
        }

        a {
            font-size:2.0em;
            display:block;
            float:left;
            width:25%;
            text-align:center;
        }
    }
}
