$mobile-threshold: 784px;

$color-border: #EFEFEF;
$color-background: #F5F5F5;
$color-background-contact: #42A8C0;
$color-background-profile: #35879A;
$color-blue: #2D7788;
$color-light-grey: #3F4650;
$color-dark-grey: #545E6C;

$size-name: 3.0em;
$size-h1: 2.0em;
$size-h2: 1.3em;
$size-h3: 1.1em;
$size-panel-title: 1.75em;
