<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <main class="main-container">
      <div class="sidebar right-container-fixed">
        {% include sidebar.html %}
      </div>
      <div class="page-content flex-container-with-fixed-right-column">
        {{ content }}
      </div>
    </main>
    <div class="footer inner-container">
        <div class="disclaimer">&copy; Winter Softworks Limited 2016</div>
    </div>
    
    <script id="dsq-count-scr" src="//stevenield-github-io.disqus.com/count.js" async></script>
  </body>
</html>
