---
layout: structure
---

    <div class="article">
        <div class="title">
            <span class="fa fa-newspaper-o"></span>Blog Post Title
        </div>
        <div class="date">
            Posted: 16th December 2016
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tags">tags:
            <a href="#nodejs">nodejs</a>,
            <a href="#xp">xp</a>,
            <a href="#teamcity">TeamCity</a>,
            <a href="#azure">Azure</a>
        </div>
        <div class="read-more"><a href="#">Read Full Article</a></div>
    </div>
    <div class="article">
        <div class="title">
            <span class="fa fa-newspaper-o"></span>Blog Post Title
        </div>
        <div class="date">
            Posted: 16th December 2016
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tags">tags:
            <a href="#nodejs">nodejs</a>,
            <a href="#xp">xp</a>,
            <a href="#teamcity">TeamCity</a>,
            <a href="#azure">Azure</a>
        </div>
        <div class="read-more"><a href="#">Read Full Article</a></div>
    </div>
    <div class="article">
        <div class="title">
            <span class="fa fa-newspaper-o"></span>Blog Post Title
        </div>
        <div class="date">
            Posted: 16th December 2016
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tags">tags:
            <a href="#nodejs">nodejs</a>,
            <a href="#xp">xp</a>,
            <a href="#teamcity">TeamCity</a>,
            <a href="#azure">Azure</a>
        </div>
        <div class="read-more"><a href="#">Read Full Article</a></div>
    </div>
    <div class="article">
        <div class="title">
            <span class="fa fa-newspaper-o"></span>Blog Post Title
        </div>
        <div class="date">
            Posted: 16th December 2016
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tags">tags:
            <a href="#nodejs">nodejs</a>,
            <a href="#xp">xp</a>,
            <a href="#teamcity">TeamCity</a>,
            <a href="#azure">Azure</a>
        </div>
        <div class="read-more"><a href="#">Read Full Article</a></div>
    </div>
    <div class="article">
        <div class="title">
            <span class="fa fa-newspaper-o"></span>Blog Post Title
        </div>
        <div class="date">
            Posted: 16th December 2016
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="tags">tags:
            <a href="#nodejs">nodejs</a>,
            <a href="#xp">xp</a>,
            <a href="#teamcity">TeamCity</a>,
            <a href="#azure">Azure</a>
        </div>
        <div class="read-more"><a href="#">Read Full Article</a></div>
    </div>
